<h1>Editing Peer Review Question</h1>

<%= render 'form', peer_review_question: @peer_review_question %>

<%= link_to 'Show', @peer_review_question, class: "btn btn-primary" %>
<%= link_to 'Back', peer_review_questions_path, class: "btn btn-secondary" %>
