<h1>New Exercise</h1>
<p>This form has been intentionally left ugly. Please create exercises through frontend.</p>

<%= render 'form', exercise: @exercise %>

<%= link_to 'Back', exercises_path, class: "btn btn-secondary" %>
